.ChatInput
  width: 95%
  display: block
  margin: auto

  input
    padding: 10px
    margin: 0
    font-size: x-large
    border-radius: 20px
    border: 1px
    width: 98%
    box-shadow: 0 5px 15px -5px